<div class="well">
<h4>Partners</h4>

<figure class="fourth">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sintef.png" style="width: 180px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/ntnu.png" style="width: 140px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/ailab.png" style="width: 120px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/nfr.png" style="width: 110px">
</figure>
<figure class="fourth">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/telenor.png" style="width: 120px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/refinitiv.png" style="width: 140px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/exabel.png" style="width: 140px">
</figure>


 </div>
